@font-face {
	font-family: Architects Daughter;
	src: local("Architects Daughter Regular"), local("ArchitectsDaughter-Regular"), url(https://fonts.gstatic.com/s/architectsdaughter/v7/RXTgOOQ9AAtaVOHxx0IUBOkI_DLF4EgbZt3mhU8gQFo.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
